---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/categories(id=abcat500&name=Electronics)?apiKey=123FakeApiKey&format=json&limit=10&page=1&show=id,name,subCategories.id,subCategories.name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"currentPage":1,"total":0,"totalPages":0,"queryTime":"0.047","totalTime":"0.048","partial":false,"canonicalUrl":"/v1/categories(id=\"abcat500\"&name=\"Electronics\")?show=id,name,subCategories.id,subCategories.name&format=json&apiKey=123FakeApiKey","categories":[]}'
  recorded_at: Sat, 01 Dec 2018 08:09:55 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/categories?apiKey=123FakeApiKey&format=json&show=id,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":3941,"totalPages":395,"queryTime":"0.023","totalTime":"0.037","partial":false,"canonicalUrl":"/v1/categories?show=id,name&format=json&apiKey=123FakeApiKey","categories":[{"id":"abcat0010000","name":"Gift
        Ideas"},{"id":"abcat0100000","name":"TV & Home Theater"},{"id":"abcat0101000","name":"TVs"},{"id":"abcat0101001","name":"All
        Flat-Screen TVs"},{"id":"abcat0101005","name":"TV/DVD Combos"},{"id":"abcat0102000","name":"Blu-ray
        & DVD Players"},{"id":"abcat0102003","name":"Blu-ray Players"},{"id":"abcat0102005","name":"DVD
        Players"},{"id":"abcat0104000","name":"Digital TV Tuners & Converters"},{"id":"abcat0105000","name":"TV
        & Internet Service Providers"}]}'
  recorded_at: Sat, 01 Dec 2018 08:09:57 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/categories?apiKey=123Key&format=json&show=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n            {\"errorCode\":\"403\", \"errorMessage\":\"We were unable
        to validate your API Key.\"}\n        "
  recorded_at: Sat, 01 Dec 2018 08:09:58 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/categories?apiKey=123FakeApiKey&format=json&limit=10&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":11,"to":20,"currentPage":2,"total":3941,"totalPages":395,"queryTime":"0.051","totalTime":"0.060","partial":false,"canonicalUrl":"/v1/categories?page=2&format=json&apiKey=123FakeApiKey","categories":[{"id":"abcat0106000","name":"TV
        Stands, Mounts & Furniture","active":true,"url":"https://www.bestbuy.com/site/tv-home-theater/tv-stands-mounts-furniture/abcat0106000.c?id=abcat0106000&cmp=RMX-cat","path":[{"id":"cat00000","name":"Best
        Buy"},{"id":"abcat0100000","name":"TV & Home Theater"},{"id":"abcat0106000","name":"TV
        Stands, Mounts & Furniture"}],"subCategories":[{"id":"abcat0106001","name":"TV
        Stands"},{"id":"abcat0106004","name":"TV Mounts"},{"id":"pcmcat332100050008","name":"Projector
        Mounts & Screens"},{"id":"pcmcat332100050010","name":"Speaker Stands & Mounts"},{"id":"pcmcat332100050015","name":"A/V
        Component Shelving"},{"id":"abcat0106008","name":"A/V Component Racks & Shelving"},{"id":"abcat0106010","name":"CD
        & DVD Media Storage"},{"id":"pcmcat249700050007","name":"Home Theater Furniture"},{"id":"pcmcat21930005000[...]
- request:
    method: get
    uri: https://api.bestbuy.com/v1/categories?apiKey=123Key&format=json&limit=10&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n            {\"errorCode\":\"403\", \"errorMessage\":\"We were unable
        to validate your API Key.\"}\n        "
  recorded_at: Sat, 01 Dec 2018 08:10:00 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/categories(id=abcat500&name=Electronics)?apiKey=123Key&format=json&limit=10&page=1&show=id,name,subCategories.id,subCategories.name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n            {\"errorCode\":\"403\", \"errorMessage\":\"We were unable
        to validate your API Key.\"}\n        "
  recorded_at: Sat, 01 Dec 2018 08:10:01 GMT
recorded_with: VCR 4.0.0
