---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/categories(name=Electronics)?apiKey=123FakeApiKey&format=json&limit=10&page=1&show=id,name,subCategories.id,subCategories.name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":1,"currentPage":1,"total":1,"totalPages":1,"queryTime":"0.053","totalTime":"0.075","partial":false,"canonicalUrl":"/v1/categories(name=\"Electronics\")?show=id,name,subCategories.id,subCategories.name&format=json&apiKey=123FakeApiKey","categories":[{"id":"pcmcat144600050035","name":"Electronics","subCategories":[{"id":"pcmcat137100050004","name":"Apple
        Answers Day"},{"id":"abcat0207001","name":"Band Instruments"},{"id":"abcat0405000","name":"Photo
        Processing"},{"id":"cat16188","name":"Business-to-Business"},{"id":"pcmcat106200050008","name":"Video
        Games for Kids and Families"},{"id":"pcmcat120200050058","name":"Fisher House"},{"id":"pcmcat127000050004","name":"Garmin
        Learning Center"},{"id":"pcmcat140800050004","name":"Best Brands - Best Help"},{"id":"pcmcat143800050032"[...]
- request:
    method: get
    uri: https://api.bestbuy.com/v1/categories?apiKey=123FakeApiKey&format=json&show=id,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":3995,"totalPages":400,"queryTime":"0.007","totalTime":"0.022","partial":false,"canonicalUrl":"/v1/categories?show=id,name&format=json&apiKey=123FakeApiKey","categories":[{"id":"abcat0010000","name":"Gift
        Ideas"},{"id":"abcat0100000","name":"TV & Home Theater"},{"id":"abcat0101000","name":"TVs"},{"id":"abcat0101001","name":"All
        Flat-Screen TVs"},{"id":"abcat0101005","name":"TV/DVD Combos"},{"id":"abcat0102000","name":"Blu-ray
        & DVD Players"},{"id":"abcat0102003","name":"Blu-ray Players"},{"id":"abcat0102005","name":"DVD
        Players"},{"id":"abcat0104000","name":"Digital TV Tuners & Converters"},{"id":"abcat0105000","name":"TV
        & Internet Service Providers"}]}'
  recorded_at: Mon, 28 Jan 2019 13:05:46 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/categories?apiKey=123Key&format=json&show=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n            {\"errorCode\":\"403\", \"errorMessage\":\"We were unable
        to validate your API Key.\"}\n        "
  recorded_at: Mon, 28 Jan 2019 13:05:48 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/categories?apiKey=123FakeApiKey&format=json&limit=10&page=2&show=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":11,"to":20,"currentPage":2,"total":3995,"totalPages":400,"queryTime":"0.039","totalTime":"0.047","partial":false,"canonicalUrl":"/v1/categories?show=&page=2&format=json&apiKey=123FakeApiKey","categories":[{},{},{},{},{},{},{},{},{},{}]}'
  recorded_at: Mon, 28 Jan 2019 13:05:50 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/categories?apiKey=123Key&format=json&limit=10&page=2&show=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n            {\"errorCode\":\"403\", \"errorMessage\":\"We were unable
        to validate your API Key.\"}\n        "
  recorded_at: Mon, 28 Jan 2019 13:05:51 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/categories(name=Electronics)?apiKey=123Key&format=json&limit=10&page=1&show=id,name,subCategories.id,subCategories.name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n            {\"errorCode\":\"403\", \"errorMessage\":\"We were unable
        to validate your API Key.\"}\n        "
  recorded_at: Mon, 28 Jan 2019 13:05:52 GMT
recorded_with: VCR 4.0.0
