---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products((search=iPhone)&sku=123&categoryPath.id=abcat500&categoryPath.name=Electronics&condition=new&customerReviewAverage=5&manufacturer=Apple)?apiKey=123FakeApiKey&format=json&limit=10&page=1&show=sku,categoryPath.id,categoryPath.name,condition,customerReviewAverage,manufacturer,regularPrice,salePrice,shippingCost,customerReviewCount,percentSavings,freeShipping,url,name,description,image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"currentPage":1,"total":0,"totalPages":0,"queryTime":"0.045","totalTime":"0.046","partial":false,"canonicalUrl":"/v1/products((search=\"iPhone\")&sku=123&categoryPath.id=abcat500&categoryPath.name=Electronics&condition=\"new\"&customerReviewAverage=5&manufacturer=\"Apple\")?show=sku,categoryPath.id,categoryPath.name,condition,customerReviewAverage,manufacturer,regularPrice,salePrice,shippingCost,customerReviewCount,percentSavings,freeShipping,url,name,description,image&format=json&apiKey=123FakeApiKey","products":[]}'
  recorded_at: Mon, 28 Jan 2019 13:05:53 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products?apiKey=123FakeApiKey&format=json&show=sku,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":193231,"totalPages":19324,"queryTime":"0.091","totalTime":"0.122","partial":false,"canonicalUrl":"/v1/products?show=sku,name&format=json&apiKey=123FakeApiKey","products":[{"sku":1000006,"name":"Spy
        Kids: All the Time in the World [Includes Digital Copy] [UltraViolet] [Blu-ray]
        [2011]"},{"sku":1000016,"name":"4-Year Standard Geek Squad Protection"},{"sku":1000034,"name":"4-Year
        Standard Geek Squad Protection"},{"sku":1000592,"name":"The Mentalist: The
        Complete Fifth Season [5 Discs] [DVD]"},{"sku":1001158,"name":"Our Family
        Wedding [DVD] [2010]"},{"sku":1001176,"name":"Johnny Handsome [Blu-ray] [1989]"},{"sku":1001185,"name":"Lock
        Up [Blu-ray] [1989]"},{"sku":1001246,"name":"Hot Tub Time Machine [Unrated]
        [DVD] [2010]"},{"sku":1001255,"name":"Predator [Ultimate Hunter Edition] [2
        Discs] [With Movie Money] [Blu-ray] [1987]"},{"sku":1001307,"name":"Diary
        of a Wimpy Kid [DVD] [2010]"}]}'
  recorded_at: Mon, 28 Jan 2019 13:05:55 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products?apiKey=123Key&format=json&show=sku
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n            {\"errorCode\":\"403\", \"errorMessage\":\"We were unable
        to validate your API Key.\"}\n        "
  recorded_at: Mon, 28 Jan 2019 13:05:56 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products?apiKey=123FakeApiKey&format=json&show=sku
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":193231,"totalPages":19324,"queryTime":"0.032","totalTime":"0.064","partial":false,"canonicalUrl":"/v1/products?show=sku&format=json&apiKey=123FakeApiKey","products":[{"sku":1000006},{"sku":1000016},{"sku":1000034},{"sku":1000592},{"sku":1001158},{"sku":1001176},{"sku":1001185},{"sku":1001246},{"sku":1001255},{"sku":1001307}]}'
  recorded_at: Mon, 28 Jan 2019 13:05:57 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products((search=iPhone)&sku=123&categoryPath.id=abcat500&categoryPath.name=Electronics&condition=new&customerReviewAverage=5&manufacturer=Apple)?apiKey=123Key&format=json&limit=10&page=1&show=sku,categoryPath.id,categoryPath.name,condition,customerReviewAverage,manufacturer,regularPrice,salePrice,shippingCost,customerReviewCount,percentSavings,freeShipping,url,name,description,image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n            {\"errorCode\":\"403\", \"errorMessage\":\"We were unable
        to validate your API Key.\"}\n        "
  recorded_at: Mon, 28 Jan 2019 13:05:58 GMT
recorded_with: VCR 4.0.0
