---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(storeId=281&city=Bloomington&region=CA&fullPostalCode=55423)?apiKey=123FakeApiKey&format=json&limit=10&page=1&show=storeId,city,region,fullPostalCode,storeType,name,address,address2,country,hours,phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"currentPage":1,"total":0,"totalPages":0,"queryTime":"0.063","totalTime":"0.064","partial":false,"canonicalUrl":"/v1/stores(storeId=281&city=\"Bloomington\"&region=\"CA\"&fullPostalCode=\"55423\")?show=storeId,city,region,fullPostalCode,storeType,name,address,address2,country,hours,phone&format=json&apiKey=123FakeApiKey","stores":[]}'
  recorded_at: Sat, 01 Dec 2018 08:10:13 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores?apiKey=123FakeApiKey&format=json&show=name,city
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":1260,"totalPages":126,"queryTime":"0.017","totalTime":"0.027","partial":false,"canonicalUrl":"/v1/stores?show=name,city&format=json&apiKey=123FakeApiKey","stores":[{"name":"HOLYOKE
        MALL MA","city":"Holyoke"},{"name":"LEOMINSTER MA","city":"Leominster"},{"name":"MILLBURY
        MA","city":"Millbury"},{"name":"WORCESTER MA","city":"Worcester"},{"name":"FRAMINGHAM
        MA","city":"Framingham"},{"name":"MARLBOROUGH MA","city":"Marlborough"},{"name":"MILFORD
        MA","city":"Milford"},{"name":"BURLINGTON MA","city":"Burlington"},{"name":"SAUGUS
        MA","city":"Saugus"},{"name":"DANVERS MA","city":"Danvers"}]}'
  recorded_at: Sat, 01 Dec 2018 08:10:14 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores?apiKey=123Key&format=json&show=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n            {\"errorCode\":\"403\", \"errorMessage\":\"We were unable
        to validate your API Key.\"}\n        "
  recorded_at: Sat, 01 Dec 2018 08:10:15 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores?apiKey=123FakeApiKey&format=json&show=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":1260,"totalPages":126,"queryTime":"0.017","totalTime":"0.027","partial":false,"canonicalUrl":"/v1/stores?show=name&format=json&apiKey=123FakeApiKey","stores":[{"name":"HOLYOKE
        MALL MA"},{"name":"LEOMINSTER MA"},{"name":"MILLBURY MA"},{"name":"WORCESTER
        MA"},{"name":"FRAMINGHAM MA"},{"name":"MARLBOROUGH MA"},{"name":"MILFORD MA"},{"name":"BURLINGTON
        MA"},{"name":"SAUGUS MA"},{"name":"DANVERS MA"}]}'
  recorded_at: Sat, 01 Dec 2018 08:10:16 GMT
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(storeId=281&city=Bloomington&region=CA&fullPostalCode=55423)?apiKey=123Key&format=json&limit=10&page=1&show=storeId,city,region,fullPostalCode,storeType,name,address,address2,country,hours,phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n            {\"errorCode\":\"403\", \"errorMessage\":\"We were unable
        to validate your API Key.\"}\n        "
  recorded_at: Sat, 01 Dec 2018 08:10:18 GMT
recorded_with: VCR 4.0.0
